<header class="container-fluid bg-primary px-0">
    {% block header %}
            <div class="container py-2 my-auto" style="height: 126px;">
                    <div class="row">
                            <div class="col-3">
                                    <a href="/">
                                            <img src="/assets/img/logo.png" height="100" alt="Teddy Lelong">
                                    </a>
                            </div>
                            <h1 class="text-light col-9 my-auto">{{ pageTitle }}</h1>
                    </div>
            </div>
    {% endblock header %}
</header>