{% extends 'layout.html.twig' %}

{% block content %}

    <h1>{{ pageTitle }}</h1>

    <p>Je suis Teddy, jeune développeur web junior.</p>
    <p>Je souhaite m'améliorer, apprendre et expérimenter afin de devenir expert PHP/Symfony.</p>
    <p>Ce blog est un espace qui me permet de créer et partager mes dernières trouvailles. J'espère qu'il vous plaira !</p>
    <p>vous avez la possibilité de consulter et télécharger mon CV sur <a href="#">cette page</a>. N'hésitez pas à le partager autour de vous ! Vous avez également la possibilité de me suivre sur les réseaux sociaux.</p>

{% endblock content %}