{% extends 'layout.html.twig' %}

{% block content %}

    <h1 class="mb-3">{{ pageTitle }}</h1>

    <p>Vous trouverez ci-dessous mon CV, à jour en mars 2022. Vous avez la possibilité de le consulter et de le télécharger : n'hésitez pas à le partager autour de vous !</p>

    <a href="/assets/pdf/cv.pdf" target="_blank" class="btn btn-outline-primary">Consulter</a>
    <a href="/assets/pdf/cv.pdf" download="CV-Teddy-Lelong" class="btn btn-outline-primary">Télécharger (.pdf)</a>

{% endblock content %}