<form class="" action="/contact/check/" method="POST">
    <label class="form-label mt-2" for="firstname">Votre prénom</label>
    <input class="form-control" type="text" name="firstname" id="firstname" placeholder="Saisissez votre prénom"/>

    <label class="form-label mt-2" for="lastname">Votre nom</label>
    <input class="form-control" type="text" name="lastname" id="lastname" placeholder="Saisissez votre nom"/>

    <label class="form-label mt-2" for="email">Votre adresse email</label>
    <input class="form-control" type="email" name="email" id="email" placeholder="votre-adresse@domaine.com"/>

    <label class="form-label mt-2" for="message">Votre message</label>
    <textarea class="form-control" name="message" id="message" placeholder="Saisissez votre message" style="height: 160px"></textarea>

    <div class="d-grid gap-2">
        <button class="btn btn-primary mt-3" type="submit"><i class="bi bi-send"></i> Envoyer</button>
    </div>
</form>