{% extends 'adminlayout.html.twig' %}

{% block content %}

<form action="/user/insert/" method="POST">
    <label class="form-label mt-2" for="firstname">Prénom :</label>
    <input class="form-control" type="text" name="firstname" id="firstname" placeholder="Saisissez le prénom de l'utilisateur">

    <label class="form-label mt-2" for="lastname">Nom :</label>
    <input class="form-control" type="text" name="lastname" id="lastname" placeholder="Saisissez son nom de famille">

    <label class="form-label mt-2" for="email">Adresse e-mail :</label>
    <input class="form-control" type="email" name="email" id="email" placeholder="adresse@email.com">

    <label class="form-label mt-2" for="password">Mot de passe :</label>
    <input class="form-control" type="password" name="password" id="password" placeholder="Minimum 8 caractères">

    <label class="form-label mt-2" for="password_confirmation">Confirmez le mot de passe :</label>
    <input class="form-control" type="password" name="password_confirmation" id="password_confirmation" placeholder="Répétez le mot de passe ici">

    <label class="form-label mt-2" for="role">Sélectionnez le rôle du nouvel utilisateur :</label>

    <select class="form-select" name="role" id="role">
        {% for role in roles %}
            <option value="{{ role.pkId }}">{{ role.name|capitalize }}</option>
        {% endfor %}
    </select>

    <div class="alert alert-danger p-3 my-2" role="alert">
        <i class="bi bi-exclamation-triangle-fill"></i> Attention : les utilisateurs ayant le droit Administrateur peuvent supprimer les autres utilisateurs.
    </div>


    <div class="d-grid gap-2 mt-3">
        <input class="btn btn-primary" type="submit" value="Créer l'utilisateur">
        <a class="btn btn-outline-danger" href="/login/dashboard/" onclick="return window.confirm('Souhaitez-vous quitter l\'éditeur ? Les infos saisies seront perdues.')">Annuler</a>
    </div>
</form>

{% endblock content %}

