{% extends 'adminlayout.html.twig' %}
{% block content %}

<h1>Connexion</h1>

    <div class="row g-3 align-items-center">
        <form class="col-12 col-md-6" action="/login/process/" method="POST">
            <label class="form-label mt-2" for="email">Adresse e-mail :</label>
            <input class="form-control" type="email" name="email" id="email" placeholder="Saisissez votre adresse email">

            <label class="form-label mt-2" for="password">Mot de passe :</label>
            <input class="form-control" type="password" name="password" id="password" placeholder="Saisissez votre mot de passe">

            <div class="d-grid gap-2">
                <button class="btn btn-primary mt-3" type="submit">Se connecter</button>
                <a class="btn btn-outline-primary" href="/">Retour sur le site</a>
            </div>
        </form>
    </div>

{% endblock content %}
