// This file contains all reusable elements (buttons, navbar, forms...)

a {
  text-decoration: none;
}
body {
  background-color: $primary;
}
#site-background {
  background-color: #efefef;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%235094ca' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

/* Buttons */

.btn-primary,
.btn-primary:hover{
  color: #ffffff;
}
.btn-outline-primary:hover {
  color: #ffffff;
}


/* Site Top-Header */

#site-top-header {
  background-color: #1c1f23;

  a:hover {
   color: $secondary;
  }
}


/* Site Header */

#website-header {
  border-bottom: 4px solid darken($primary, 10);
}


/* Main content */

#main-content {
  background-color: #ffffff;
}

.iframe-responsive{
  overflow:hidden;
  position:relative;
  height:0;
}
.iframe-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}
#google-maps,
.iframe-responsive iframe {
  height: 488px;
}


/* Footer */

#website-footer {
  border-top: 4px solid darken($primary, 10);

  a:hover{
    text-decoration: underline;
  }
}