{% extends 'layout.html.twig' %}

{% block content %}
    <div class="text-center text-primary">
        <div style="font-size: 3.4em;">Erreur</div>
        <div style="font-size: 6em; margin-top: -20px">404</div>
    </div>

<p class="alert-primary d-inline-block p-2 rounded"><i class="bi bi-exclamation-circle"></i> Erreur 404 - Page non trouvée</p>
<p>Toutes nos excuses ! La page à laquelle vous souhaitez accéder n'existe pas sur ce site web.</p>
<p><a class="btn btn-outline-primary" href="/">Retourner à l'accueil</a></p>
{% endblock content %}