{% extends 'adminlayout.html.twig' %}

{% block content %}

{% include 'template-parts/admin/help/article-markdown.part.twig' %}

<form action="/article/insert/" method="POST">
    <label class="form-label mt-2" for="title">Titre :</label>
    <input class="form-control" type="text" name="title" id="title" placeholder="Donnez un titre à cet article"/>

    <label class="form-label mt-2" for="excerpt">Rédigez un extrait :</label>
    <textarea class="form-control" name="excerpt" id="excerpt" style="height: 100px" placeholder="Saisissez un court extrait : il sera affiché dans la liste des articles ainsi qu'au tout début de l'article"></textarea>

    <label class="form-label mt-2" for="content">Contenu :</label>
    <textarea class="form-control" name="content" id="content" style="height: 200px" placeholder="Saisissez le texte de votre article"></textarea>

    <div class="d-grid gap-2">
        <input class="btn btn-primary mt-3" type="submit" value="Publier">
    </div>
</form>

{% endblock content %}