{% extends 'layout.html.twig' %}

{% block content %}

    <h1>{{ pageTitle }}</h1>

    <p>Un projet à me proposer, une demande d'informations ? N'hésitez pas à me contacter par email en renseignant le formulaire ci-dessous !</p>

    <div id="contact" class="col-12 col-md-6">
        {% include 'template-parts/website-contactform.part.twig' %}
    </div>

{% endblock content %}