<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/css/main.css" rel="stylesheet">
    <title>Teddy Lelong | {{ pageTitle }}</title>
</head>

<body class="website">
    {% block body %}

        <!-- Top Header -->
        {% include 'template-parts/website-top-header.part.twig' %}

        <!-- Header + Nav -->
        {% include'template-parts/website-header.part.twig' %}

        <!-- Main content -->
        <div id="site-background" class="container-fluid">
            <main id="main-content" class="container p-2 shadow">
                {{ notificationDisplay() }}

                {% block content %}
                {% endblock content %}
            </main>
        </div>

        <!-- Footer -->
        {% include 'template-parts/website-footer.part.twig' %}

    {% endblock body %}

    <script src="/assets/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>